*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://i.ibb.co/C6xQr1T/collage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  height: 90vh;
}

#login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 1.3rem;
  gap: 1.5rem;
}

#login-form {
  background: linear-gradient(135deg, #1e1e2f, #3a3a56, #29293a);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  z-index: -2;
}

#login-form input:focus {
    background-color: #44445e;
}


#login-form button {
  background-color: #5c5c8a;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.register {
  color: #fff;
  display: inline-flex;
  justify-self: flex-end;
  padding: 10px;
}

.register-link {
  color: #fff;
  cursor: pointer;
}

h1 {
  text-align: center;
  padding: 1rem;
  color: #fff;
}


#dashboard-section {
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #4357AD, #48A9A6, #E4DFDA, #D4B483);
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  z-index: -999999;
}